* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F4EFAF;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* prevents scrolling */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.form-box {
    width: 450px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

.title {
    font-size: 26px;
    margin-top: 10px;
    font-weight: bold;
}

.subtitle {
    margin-top: 2px;
    font-size: 14px;
    color: #777;
}

.input-group {
    text-align: left;
    margin: 15px 0;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 12px;
    background: #dcdcdc;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-top: 5px;
}

.options a {
    color: #444;
    text-decoration: none;
}

.main-btn {
    width: 100%;
    padding: 14px;
    background: #F4EFAF;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.main-btn:hover {
    transform: scale(1.03);
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
}

.footer-text a {
    text-decoration: none;
    font-weight: bold;
}
