body {
    margin: 0;
    padding: 0;
    background: #F4EFAF;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 480px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

label {
    display: flex;
    text-align: left;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 12px;
    background: #dcdcdc;
    border: none;
    border-radius: 3px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.remember-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 50px;
}

.main-btn {
    width: 60%;
    padding: 13px;
    background: #F4EFAF;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.footer-text {
    margin-top: 20px;
}
